:root {
  --primary-color: #e87cb8;
  --secondary-color: #f0f0f0;
  --text-color: #333;
  --background-color: #fff;
  --font-main: 'Roboto', sans-serif;
  --font-heading: 'Playfair Display', serif;
  --transition-speed: 0.3s;
}
.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
  .slider img{
    width: 100%;
    display: none;
  }
  img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  .slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
  }
  .prev{
    left: 0;
  }
  .next{
    right: 0;
  }
  @keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
  }
  .site-footer{
    background: linear-gradient(135deg , var(--primary-color), var(--secondary-color));
    border-radius: 5px;
    padding: 2rem;
    color: var(--text-color);
    font-family: var(--font-main);
    margin-top: 10px;
  }
  .footer-info{
    font-family: var(--font-main);
    line-height: 5px; 
    
  }
  .footer-copyright{
    font-family: var(--font-main);
    line-height: 5px; 
    margin-top: 40px;    
  
  }